In [4]:
import pandas as pd

In [5]:
# Read csv
file_path="Resources/KSI_raw.csv"
ksi=pd.read_csv(file_path)
ksi.head()

,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,ROAD_CLASS,LATITUDE,LONGITUDE,...,EMERG_VEH,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourhood,ObjectId
0,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),1
1,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),2
2,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),3
3,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),4
4,893184,2006,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),5

In [6]:
# Drop columns we do not need
ksi.drop(['YEAR', 'ACCLOC'], axis = 1, inplace=True)
ksi.head()

,ACCNUM,DATE,TIME,HOUR,STREET1,STREET2,ROAD_CLASS,LATITUDE,LONGITUDE,LOCCOORD,...,EMERG_VEH,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourhood,ObjectId
0,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),1
1,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),2
2,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),3
3,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),4
4,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,NaN,Yes,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60),5

In [7]:
# Drop columns we do not need
ksi.drop(['IMPACTYPE', 'FATAL_NO', 'INITDIR', 'MANOEUVER', 'PEDTYPE', 'PEDACT', 'PEDCOND', 'CYCLISTYPE', 'CYCACT', 'CYCCOND', 'PASSENGER', 'ObjectId'], axis = 1, inplace=True)
ksi.head()

,ACCNUM,DATE,TIME,HOUR,STREET1,STREET2,ROAD_CLASS,LATITUDE,LONGITUDE,LOCCOORD,...,TRUCK,TRSN_CITY_VEH,EMERG_VEH,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourhood
0,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,NaN,NaN,NaN,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60)
1,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,NaN,NaN,NaN,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60)
2,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,NaN,NaN,NaN,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60)
3,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,NaN,NaN,NaN,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60)
4,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,NaN,NaN,NaN,Yes,Yes,NaN,Yes,NaN,60,Woodbine-Lumsden (60)

In [8]:
# Replace the null with "unknown"
ksi["ROAD_CLASS"].fillna("Unknown", inplace=True)
ksi.loc[ksi["ROAD_CLASS"] == "Unknown"]

,ACCNUM,DATE,TIME,HOUR,STREET1,STREET2,ROAD_CLASS,LATITUDE,LONGITUDE,LOCCOORD,...,TRUCK,TRSN_CITY_VEH,EMERG_VEH,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourhood
90,885650,2006/01/29 05:00:00+00,2048,20,F G GARDINER XY W W,KIPLING AVE,Unknown,43.618245,-79.524390,Mid-Block,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,Mimico (includes Humber Bay Shores) (17)
91,885650,2006/01/29 05:00:00+00,2048,20,F G GARDINER XY W W,KIPLING AVE,Unknown,43.618245,-79.524390,Mid-Block,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,Mimico (includes Humber Bay Shores) (17)
150,916024,2006/07/30 04:00:00+00,2155,21,F G GARDINER XY Ramp W,GARDINER W S KINGSWAY RAMP,Unknown,43.634645,-79.471590,Exit Ramp Westbound,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85,South Parkdale (85)
288,891993,2006/03/06 05:00:00+00,2222,22,F G GARDINER XY W,PARK LAWN RD,Unknown,43.627745,-79.481490,Mid-Block,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,17,Mimico (includes Humber Bay Shores) (17)
289,891993,2006/03/06 05:00:00+00,2222,22,F G GARDINER XY W,PARK LAWN RD,Unknown,43.627745,-79.481490,Mid-Block,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,17,Mimico (includes Humber Bay Shores) (17)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14492,8000510129,2018/03/21 04:00:00+00,331,3,F G GARDINER XY W,ROYAL YORK RD,Unknown,43.623107,-79.499957,Mid-Block,...,NaN,NaN,NaN,Yes,Yes,NaN,NaN,NaN,17,Mimico (includes Humber Bay Shores) (17)
14493,8000510129,2018/03/21 04:00:00+00,331,3,F G GARDINER XY W,ROYAL YORK RD,Unknown,43.623107,-79.499957,Mid-Block,...,NaN,NaN,NaN,Yes,Yes,NaN,NaN,NaN,17,Mimico (includes Humber Bay Shores) (17)
15843,8001851733,2018/10/07 04:00:00+00,305,3,DON VALLEY PY N,EASTERN AVE,Unknown,43.656108,-79.351887,Mid-Block,...,NaN,NaN,NaN,Yes,Yes,NaN,NaN,NaN,70,South Riverdale (70)
15844,8001851733,2018/10/07 04:00:00+00,305,3,DON VALLEY PY N,EASTERN AVE,Unknown,43.656108,-79.351887,Mid-Block,...,NaN,NaN,NaN,Yes,Yes,NaN,NaN,NaN,70,South Riverdale (70)
15845,8001851733,2018/10/07 04:00:00+00,305,3,DON VALLEY PY N,EASTERN AVE,Unknown,43.656108,-79.351887,Mid-Block,...,NaN,NaN,NaN,Yes,Yes,NaN,NaN,NaN,70,South Riverdale (70)

In [9]:
ksi["LOCCOORD"].fillna("Unknown", inplace=True)
ksi.loc[ksi["LOCCOORD"] == "Unknown"]

,ACCNUM,DATE,TIME,HOUR,STREET1,STREET2,ROAD_CLASS,LATITUDE,LONGITUDE,LOCCOORD,...,TRUCK,TRSN_CITY_VEH,EMERG_VEH,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourhood
279,892432,2006/02/28 05:00:00+00,2334,23,DANFORTH RD,EGLINTON AVE E,Major Arterial,43.737045,-79.246190,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138,Eglinton East (138)
280,892432,2006/02/28 05:00:00+00,2334,23,DANFORTH RD,EGLINTON AVE E,Major Arterial,43.737045,-79.246190,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138,Eglinton East (138)
281,892432,2006/02/28 05:00:00+00,2334,23,DANFORTH RD,EGLINTON AVE E,Major Arterial,43.737045,-79.246190,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138,Eglinton East (138)
282,892432,2006/02/28 05:00:00+00,2334,23,DANFORTH RD,EGLINTON AVE E,Major Arterial,43.737045,-79.246190,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138,Eglinton East (138)
1025,952125,2007/02/08 05:00:00+00,2000,20,621 ROYAL YORK Road,NaN,Minor Arterial,43.628345,-79.503290,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,Stonegate-Queensway (16)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16007,9002263717,2019/11/23 05:00:00+00,1714,17,1841 WILSON AVE,#1841,Major Arterial,43.717597,-79.523556,Unknown,...,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,26,Downsview-Roding-CFB (26)
16008,9002263717,2019/11/23 05:00:00+00,1714,17,1841 WILSON AVE,#1841,Major Arterial,43.717597,-79.523556,Unknown,...,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,26,Downsview-Roding-CFB (26)
16063,9002423251,2019/12/16 05:00:00+00,1555,15,DUNDAS ST W,No.4600 (Driveway),Major Arterial,43.656631,-79.521023,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,Kingsway South (15)
16064,9002423251,2019/12/16 05:00:00+00,1555,15,DUNDAS ST W,No.4600 (Driveway),Major Arterial,43.656631,-79.521023,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,Kingsway South (15)
16065,9002423251,2019/12/16 05:00:00+00,1555,15,DUNDAS ST W,No.4600 (Driveway),Major Arterial,43.656631,-79.521023,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,Kingsway South (15)

In [10]:
ksi.fillna("Unknown", inplace=True)
ksi

,ACCNUM,DATE,TIME,HOUR,STREET1,STREET2,ROAD_CLASS,LATITUDE,LONGITUDE,LOCCOORD,...,TRUCK,TRSN_CITY_VEH,EMERG_VEH,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourhood
0,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,Unknown,Unknown,Unknown,Yes,Yes,Unknown,Yes,Unknown,60,Woodbine-Lumsden (60)
1,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,Unknown,Unknown,Unknown,Yes,Yes,Unknown,Yes,Unknown,60,Woodbine-Lumsden (60)
2,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,Unknown,Unknown,Unknown,Yes,Yes,Unknown,Yes,Unknown,60,Woodbine-Lumsden (60)
3,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,Unknown,Unknown,Unknown,Yes,Yes,Unknown,Yes,Unknown,60,Woodbine-Lumsden (60)
4,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,Unknown,Unknown,Unknown,Yes,Yes,Unknown,Yes,Unknown,60,Woodbine-Lumsden (60)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16088,9002496688,2019/12/27 05:00:00+00,2324,23,2901 JANE ST,JANE ST,Major Arterial,43.752475,-79.516483,Mid-Block,...,Unknown,Unknown,Unknown,Unknown,Yes,Unknown,Unknown,Unknown,25,Glenfield-Jane Heights (25)
16089,9002496688,2019/12/27 05:00:00+00,2324,23,2901 JANE ST,JANE ST,Major Arterial,43.752475,-79.516483,Mid-Block,...,Unknown,Unknown,Unknown,Unknown,Yes,Unknown,Unknown,Unknown,25,Glenfield-Jane Heights (25)
16090,9002500260,2019/12/28 05:00:00+00,1514,15,GERRARD ST,BAY ST,Major Arterial,43.658504,-79.384868,Intersection,...,Unknown,Unknown,Unknown,Unknown,Yes,Yes,Unknown,Unknown,76,Bay Street Corridor (76)
16091,9002500260,2019/12/28 05:00:00+00,1514,15,GERRARD ST,BAY ST,Major Arterial,43.658504,-79.384868,Intersection,...,Unknown,Unknown,Unknown,Unknown,Yes,Yes,Unknown,Unknown,76,Bay Street Corridor (76)
16092,9002500260,2019/12/28 05:00:00+00,1514,15,GERRARD ST,BAY ST,Major Arterial,43.658504,-79.384868,Intersection,...,Unknown,Unknown,Unknown,Unknown,Yes,Yes,Unknown,Unknown,76,Bay Street Corridor (76)

In [11]:
# Check to confirm there is no null values in the dataframe
ksi.isnull().sum()

ACCNUM           0
DATE             0
TIME             0
HOUR             0
STREET1          0
STREET2          0
ROAD_CLASS       0
LATITUDE         0
LONGITUDE        0
LOCCOORD         0
TRAFFCTL         0
VISIBILITY       0
LIGHT            0
RDSFCOND         0
ACCLASS          0
INVTYPE          0
INVAGE           0
Age_mid          0
INJURY           0
VEHTYPE          0
DRIVACT          0
DRIVCOND         0
PEDESTRIAN       0
CYCLIST          0
AUTOMOBILE       0
MOTORCYCLE       0
TRUCK            0
TRSN_CITY_VEH    0
EMERG_VEH        0
SPEEDING         0
AG_DRIV          0
REDLIGHT         0
ALCOHOL          0
DISABILITY       0
Hood_ID          0
Neighbourhood    0
dtype: int64

In [12]:
ksi["PEDESTRIAN"]=ksi["PEDESTRIAN"].replace({"Unknown":"No"})
ksi["CYCLIST"]=ksi["CYCLIST"].replace({"Unknown":"No"})
ksi["AUTOMOBILE"]=ksi["AUTOMOBILE"].replace({"Unknown":"No"})
ksi["MOTORCYCLE"]=ksi["MOTORCYCLE"].replace({"Unknown":"No"})
ksi["TRUCK"]=ksi["TRUCK"].replace({"Unknown":"No"})
ksi["TRSN_CITY_VEH"]=ksi["TRSN_CITY_VEH"].replace({"Unknown":"No"})
ksi["EMERG_VEH"]=ksi["EMERG_VEH"].replace({"Unknown":"No"})
ksi["SPEEDING"]=ksi["SPEEDING"].replace({"Unknown":"No"})
ksi["AG_DRIV"]=ksi["AG_DRIV"].replace({"Unknown":"No"})
ksi["REDLIGHT"]=ksi["REDLIGHT"].replace({"Unknown":"No"})
ksi["ALCOHOL"]=ksi["ALCOHOL"].replace({"Unknown":"No"})
ksi["DISABILITY"]=ksi["DISABILITY"].replace({"Unknown":"No"})
ksi

,ACCNUM,DATE,TIME,HOUR,STREET1,STREET2,ROAD_CLASS,LATITUDE,LONGITUDE,LOCCOORD,...,TRUCK,TRSN_CITY_VEH,EMERG_VEH,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourhood
0,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,No,No,No,Yes,Yes,No,Yes,No,60,Woodbine-Lumsden (60)
1,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,No,No,No,Yes,Yes,No,Yes,No,60,Woodbine-Lumsden (60)
2,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,No,No,No,Yes,Yes,No,Yes,No,60,Woodbine-Lumsden (60)
3,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,No,No,No,Yes,Yes,No,Yes,No,60,Woodbine-Lumsden (60)
4,893184,2006/01/01 05:00:00+00,236,2,WOODBINE AVE,O CONNOR DR,Major Arterial,43.699595,-79.318797,Intersection,...,No,No,No,Yes,Yes,No,Yes,No,60,Woodbine-Lumsden (60)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16088,9002496688,2019/12/27 05:00:00+00,2324,23,2901 JANE ST,JANE ST,Major Arterial,43.752475,-79.516483,Mid-Block,...,No,No,No,No,Yes,No,No,No,25,Glenfield-Jane Heights (25)
16089,9002496688,2019/12/27 05:00:00+00,2324,23,2901 JANE ST,JANE ST,Major Arterial,43.752475,-79.516483,Mid-Block,...,No,No,No,No,Yes,No,No,No,25,Glenfield-Jane Heights (25)
16090,9002500260,2019/12/28 05:00:00+00,1514,15,GERRARD ST,BAY ST,Major Arterial,43.658504,-79.384868,Intersection,...,No,No,No,No,Yes,Yes,No,No,76,Bay Street Corridor (76)
16091,9002500260,2019/12/28 05:00:00+00,1514,15,GERRARD ST,BAY ST,Major Arterial,43.658504,-79.384868,Intersection,...,No,No,No,No,Yes,Yes,No,No,76,Bay Street Corridor (76)
16092,9002500260,2019/12/28 05:00:00+00,1514,15,GERRARD ST,BAY ST,Major Arterial,43.658504,-79.384868,Intersection,...,No,No,No,No,Yes,Yes,No,No,76,Bay Street Corridor (76)

In [13]:
ksi.to_csv("Data/ksi_cleaned.csv",index=False)